* {box-sizing:border-box;}
/*local or web(@import) 글꼴 작성위치*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
/* reset.css */
html,body,
h1,h2,h3,h4,h5,h6,p,blockq uote,address,
span,strong,em,q,sup,sub,del,s,img,
div,header,nav,aside,main,footer,article,figure,figcaption,
section,video,table,thead,tbody,tfoot,tr,th,td,ul,ol,li,dl,dt,dd,
form,fieldset,legend,input,select,option,button,label,textarea 
    {font-family: 'Noto Sans KR', sans-serif; 
    margin:0; padding:0; line-height:1.0;
    font-size:16px; font-style:normal; font-weight:normal; text-decoration:none;
}
th {text-align:left;}
table,tr,th,td {border-collase:collapse;}
ul,ol,li {list-style:none;}
a {color:#000}
input {outline:none; border:0;}